.LibMailingList-subscrib-item {
	border: 1px solid #eee;
    margin: 0.5em;
    padding: 10px;
    width: 20.5em;
    background-color: #eee;
}

.LibMailingList-subscrib-no label{
	font-weight: normal;
}

.LibMailingList-subscrib {
	padding: 1em;
}

.LibMailingList-subscrib-item, .LibMailingList-subscrib {
    background-color: #fafafa;
    border: 1px solid #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.LibMailingList-editor {
    margin: 2em auto;
    padding-left: 1em;
    max-width: 900px;
}

.LibMailingList-subscrib-item {
    border: 1px solid #eee;
    margin: 0.5em;
    padding: 10px;
    width: 20.5em;
    background-color: #eee;
}



.LibMailingList-shopadmin-home {
    margin-top:1em;
}

.LibMailingList-shopadmin-icon-panel {
    border:#eee 1px solid;
    background:#fafafa;
    margin:0 1em 2em 1em;
    padding:.7em;
    -moz-border-radius:.5em;
    -webkit-border-radius:.5em;
    border-radius:.5em;
}


.LibMailingList-shopadmin-icon-panel h3 {

    color:#444 !important;
    margin-bottom:1.5em !important;
    margin-top:.5em !important;
}


.LibMailingList-shopadmin-icon-panel .widget-link {
    color: #333;
    background-color: #eee;
    margin:.5em;
    padding:.7em;
    border:#ddd 1px solid;
    border-radius:.5em;

    display: -moz-inline-block;
    display: inline-block;

    min-width:10em;
    text-align:center;
}


.LibMailingList-shopadmin-icon-panel .widget-link:hover {
    border:#bbb 1px solid;
    background:#ddd;
}


.LibMailingList-shopadmin-icon-panel a {

    color:#000;
}